.nav {
  background-color: limegreen;
  width: 25%;
  height: 6%;
  border-radius: 50px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}
